*{
    padding: 0px;
    margin: 0px;
}

.main__container{
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 51, 48, 0.7) ;
    background-image: url(./assets/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;

}

.header__container{
    height: 10vh;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding-top: 10px;
    border-radius: 18px;
    background-color: rgba(36, 28, 28, 0.7);
}

.header__inner__container {
    padding: 0px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header__logo{
   width: 100px; 
   height: 50px;
}

.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header__button{
  padding: 8px 8px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  width: 100px;
  margin: 0px 4px;
}

.header__button:hover{
  background-color: black;
  color: white;
  transition: background-color 2s;
  transition-duration: 2s;
  translate: ;
}

#content__container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__innercontainer{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content__title{
    color: rgb(249, 243, 250);
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content__title span{
    color: blueviolet;
}
.content__button{
    padding: 12px 10px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgb(73, 151, 224);
    width: 150px;
}